body {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

pre {
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

#chat {
    overflow: auto;
    height: 400px;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}

.time {
    color: #999999;
    font-size: small;
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

.username {
    color: #0078ca;
    font-weight: bold;
}